.survey
{
background-color: blue;
color:white;
font-size:3em;
height: 200px;
margin-top:5px;
width: 24%;
float: left;
margin-bottom:1%;
margin-left:0.5%;
margin-right:0.5%;
}


.succeed
{
  background-color: yellowGreen;
}

.failed
{
  background-color: red;
}