.survey
{
background-color: blue;
color:white;
font-size:3em;
height: 200px;
margin-bottom:20px;
margin-top:5px;
}


.succeed
{
  background-color: yellowGreen;
}

.failed
{
  background-color: red;
}